@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.background {
    background: url(./images/background-1.png) no-repeat center center;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.section {
    display: none;
}

.section.actived {
    display: block;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Balsamiq Sans', cursive;
}

.logo {
    max-width: 300px;
    transform: translate(17px, -25px);
    pointer-events: none;
    width: 100%;
    margin-top: 64px;
}

.spinner {
    animation: spin infinite .6s linear;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border-top: 5px solid #209f3e;
    /* border-left: none;
    border-bottom: none; */
    margin: 0 auto;
}

.spinner.hide {
    opacity: 0;
}

@keyframes spin {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}

#play {
    /* background-color: #fff; */
    background: radial-gradient(circle, rgba(32,159,62,1) 0%, rgba(255,119,0,1) 100%);
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    padding: 10px 34px;
    font-family: "Roboto",sans-serif;
    transition: transform .3s ease, box-shadow .3s ease;
    outline: none;
    position: absolute;
    bottom: 50px;
    width: 80%;
    box-shadow: 0px 0px 12px 12px rgba(255,255,255,1);
    filter: grayscale(1);
    pointer-events: none;
    text-transform: uppercase;
    font-weight: bold;
}

#play.is-actived {
    filter: grayscale(0);
    pointer-events: initial;
}

#play:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px rgba(255,255,255,1.25);
}

.section.download {
    width: 90%;
}

.download-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
}

.download-list__item {
    display: flex;
    justify-content: space-between;
}

.download-list__item.removed {
    display: none;
} 